<ul>
  <li><strong>Title</strong>: <%= @video['title'] %></li>
  <li><strong>URL</strong>: <p><%= @video['url'] %></p></li>
  <li><strong>Genre</strong>: $<%= @video['genre'] %></li>
  <li><a href="/videos/<%= @video['id'] %>/delete">Delete</a></li>
  <li><a href="/videos/<%= @video['id'] %>/edit">Edit</a></li>
</ul>
